
.menu {
	-fx-background-color: -fx-primary;
}

.menu-text {
	-fx-text-fill: #fff;
}

.menu-link {
	-fx-text-fill: #fff;
	-fx-font-size: 16px;
}

.menu-combobox {
	-fx-prompt-text-fill: #fff;
}

.menu-combobox .text {
	-fx-fill: #fff;	
	-fx-font-size: 16px;
}

.menu-combobox .arrow-button .arrow {
	-fx-background-color: #fff;
}

.menu-hbox {
	-fx-alignment: center-left;
	-fx-spacing: 7;
}
