* {
	-fx-primary: #202020; 
	-fx-primary-text: #8e8e8e;
	-fx-primary-detail: #707070;
	-fx-primary-elements:  #273045;
	-fx-primary-elementss: #7A6E52;
	-fx-primary-rippler: #979797;
	
	-fx-secondary: #D6D6D9;
	-fx-secondary-text: -fx-primary;
	-fx-secondary-detail: -fx-primary-detail;
	-fx-secondary-header: #2F2F40;
}


.login-screen {
	-fx-text-fill: -fx-primary-text;
	-fx-background-color: -fx-primary;
}


.line-separator {
	-fx-opacity: 0.25;	
}


.primary-button {
	-fx-background-color: -fx-primary;
	-fx-font: normal 20px gabriola;
}
.primary-button .jfx-rippler {
	-jfx-rippler-fill: -fx-primary-rippler;
}
.primary-button:hover {
	-fx-background-color: #303030;
}


.login-input-fields {
	-fx-font-size: 13px;
	-fx-text-fill: -fx-primary-text;
	-jfx-focus-color: #7A6E52;
}
.login-input-fields:focused {
	-fx-text-fill: #7A6E52;
}
.login-input-fields .error-label {
	-fx-font: normal 10px gabriola;
}

.login-invalid {
	-jfx-unfocus-color: #FF8080;
}

.menu {
	-fx-background-color: -fx-primary;
}

.menu-text {
	-fx-text-fill: -fx-primary-text;
}

.menu-link {
	-fx-text-fill: -fx-primary-text;
	-fx-font-size: 16px;
}
